@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

@font-face {
    font-family: 'mm';
    src: url('../fonts/Pyidaungsu-Book-1.8.3.ttf');
}

.mm-text {
    font-family: 'mm', sans-serif;
}

.--text-red {
    color: red;
}

.--text-greenyellow {
    color: greenyellow;
}

.--text-lightgray {
    color: lightgray;
}

.--text-blueish {
    color: rgb(47, 78, 255);
}

.--letter-spacing {
    letter-spacing: 1px;
}

body {
    background: #121212;
    color: #fff;
    font-family: 'Roboto Mono', monospace;
}

.container {
    min-height: 100vh;
}

.row-1 {
    /* padding-top: 30px; */
    text-align: center;
}

.row-2 {
    padding-top: 30px;
    min-height: 100vh;
    /* flex-direction: column;
    justify-content: space-around;
    text-align: center; */
}

.tests {
    text-align: center;
}

.col-md-4 {
    text-align: center;
}

.--padding-top {
    padding-top: 30px;
}

h3 {
    padding-top: 10px;
}

footer {
    text-align: center;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

small {
    color: darkgray;
}

.credit-text {
    font-size: x-small;
}

.credit-text a {
    color: darkgray;
}

.spinner-red {
    color: red !important;
}

.spinner-orange {
    color: orange;
}

.spinner-greenyellow {
    color: greenyellow;
}

.spinner-gray {
    color: lightgray;
}

.spinner-blue {
    color: #ff4e08;
}

.search {
    display: block;
    width: 100%;
    background: none;
    border: none;
    border-bottom: 0.5px solid white;
    margin: 20px 3px;
    text-align: center;
    color: white;
}

.search:focus {
    outline: none !important;
}

.profile-link {
    color: white;
    text-decoration: underline white;
}

.data-numbers {
    font-weight: bolder;
    letter-spacing: 2px;
}

@media only screen and (min-width: 768px) {
    .search {
        width: 50%
    }

    .search-row>div {
        display: flex;
        justify-content: center;
    }
}